
<div class="login-container">
<mat-card>

<div class="login-wrapper">
    <mat-form-field>
        <input matInput class="username" name="FirstName" placeholder="FirstName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput class="password" name="LastName" placeholder=" LastName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput class="username" name="EmailId" placeholder="Enter EmailId" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput class="password" name="password" placeholder="Enter your password" required>
    </mat-form-field>        
   </div>
   <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="Create" type="button" [routerLink]="['/home']" routerLinkActive="active">Create Account</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="Cancel" type="button" [routerLink]="['/login']" routerLinkActive="active">Cancel</mat-button-toggle>
      </mat-button-toggle-group>
  </mat-card>
</div>
